---
import { Image } from "astro:assets";
import portrait_1 from "@assets/images/about/portrait_1.PNG";
import portrait_2 from "@assets/images/about/portrait_2.PNG";
import portrait_3 from "@assets/images/about/portrait_3.PNG";
import portrait_4 from "@assets/images/about/portrait_4.PNG";
import frame from "@assets/images/frame.svg";
import cv from "@assets/documents/CV_Nora_Velde.pdf";
import "@styles/global.css"
---

<section class="about texture" id="about">
  <div class="image-container">
    {
      [portrait_1, portrait_2, portrait_3, portrait_4].map((portrait) => (
        <div class="image-wrapper">
          <Image src={frame} alt="frame" class="frame" />
          <Image
            src={portrait}
            alt="Portrait of Nora"
            class="about-image"
            width={336}
            height={155}
          />
        </div>
      ))
    }
  </div>
  <div class="text-container">
    <h2>About Me</h2>
    <p class="about-text">
      Growing up, I&#39;ve always been close to nature - whether climbing,
      skiing, or simply walking the dog in the forest.
      <br />
      This led me to study Biology and Environmental Science, where I focused on understanding
      the systems behind climate change at a fundamental level. Later, I shifted toward
      Social Geography to explore the human side of these systems.
      <br />
      <br />
      While I enjoyed the subject, I realized the work itself wasn&#39;t for me. Around
      that time, I discovered programming. It gave me the same satisfaction of working
      with complex systems and solving real problems, but in a more direct and practical
      way.
      <br /><br />
      Today, I bring that same holistic approach to web development, building interactive
      websites with a focus on usability and performance, and creating applications
      that are both functional and enjoyable to use.
    </p>
    <a href={cv} target="_blank" rel="noopener noreferrer" class="cv-link"
      >See my CV for more</a
    >
  </div>
</section>

<style>
  h2 {
    color: var(--blue);
  }
  .about {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 75px 2rem;
    background-color: var(--white);
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    display: grid;
    place-items: center;
  }
  .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 1 / 1;
    gap: 10px;
    width: 95%;
    max-width: 300px;
  }
  .frame {
    position: absolute;
    width: 102%;
    height: 102%;
    z-index: 1;
  }
  .about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border-radius: 4px;
  }
  .text-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cv-link {
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 2px solid var(--lighten);
    background-color: var(--pink);
    color: var(--text);
    border-radius: 4px;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    display: inline-block;
    margin-top: 1rem;
    &:hover {
      border: 2px solid var(--lighten);
      background-color: var(--red);
      color: var(--white);
    }
  }

  h2 {
    font-size: clamp(2rem, 6cqw, 3rem);
  }
  .about-text {
    line-height: 1.6;
    margin: 1rem 0;
  }

  @media (min-width: 768px) {
    .about {
      gap: 4rem;
      padding: 6rem 10%;
    }
    .image-container {
      grid-template-columns: 1fr;
      aspect-ratio: auto;
      max-width: 200px;
    }
    .about-image {
      width: 100%;
      aspect-ratio: 1/1;
    }
    .text-container {
      max-width: 650px;
      min-width: 300px;
      flex: 1;
      align-items: flex-start;
    }
    .about-text {
      font-size: 1.125rem;
    }
  }
  @media (min-width: 1120px) {
    .image-container {
      grid-template-columns: 1fr 1fr;
      max-width: 350px;
      aspect-ratio: 1/1;
    }
  }
</style>
