---
import "@styles/plein.css";
import world from "@assets/images/hero/world.svg";
import flower_stem from "@assets/images/hero/flower_stem.svg";
import flower from "@assets/images/hero/flower.svg";
import { Image } from "astro:assets";
---

<section class="hero" id="hero">
  <div class="image-container">
    <Image src={world} alt="Doodle of the world" class="hero-image world" />
    <Image
      src={flower_stem}
      alt="Doodle of a flower stem"
      class="hero-image flower-stem"
    />
    <Image src={flower} alt="Doodle of a flower" class="hero-image flower" />
  </div>
  <div class="text-container">
    <h1 class="text">Hello, <br />I’m Nora!</h1>
    <p>
      A fullstack developer with a background in environmental science and
      social geography.
    </p>
  </div>
</section>

<style>
  h1,
  p {
    text-align: left;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
    z-index: 1;
  }

  h1 {
    font-weight: 900;
    /* font-size: 12vw; */
    font-size: 3rem;
    line-height: 1.2;
  }

  p {
    font-family: "Plein", Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* font-size: clamp(1.25rem, 3.7vw, 2.25rem);
    font-size: 5vw; */
    line-height: 1.4;
    /* max-width: 90%;  */
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0rem;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .world {
    max-width: 100%;
    height: auto;
  }

  .flower-stem {
    position: absolute;
    max-width: 70%;
    height: auto;
    bottom: -21.5%;
    left: 21%;
  }

  .flower {
    position: absolute;
    max-width: 30%;
    bottom: 0;
    right: 2%;
    height: auto;
  }
  .text-container {
    padding: 0rem 1.25rem;
  }

  @media (min-width: 768px) {
    h1,
    p {
      font-size: 5rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
</style>
