<div>
    <p>
        <span class="role">Junior fullstack developer</span>
        Hello! I'm a passionate junior fullstack developer with a keen interest in
        building engaging and user-friendly web applications. 
        I believe in good communication
        and collaboration within teams to create the best possible outcomes. Other
        than coding, I enjoy exploring web design and user experience (UX) principles
        to enhance the overall quality of my projects.
    </p>
    <h1 class="name-container">
        <span class="sun"></span>
        <span class="name">
            Nora Velde
        </span>
    </h1>
</div>
<style>
    div {
        display: grid;
        justify-items: flex-start;
        & p{
            font-size: clamp(1rem, 2.3vw, 1.5rem);
        }
    }
    .role,
    .name {
        font-weight: lighter;
        font-size: clamp(3rem, 6vw, 4rem);
        /* font-size: clamp(2rem, 6vw, 4rem); small screen 2? fixa width.*/
        line-height: 1.1;
        padding: 1rem 0;
    }
    .role {
        display: inline-block;
        max-width: 500px;
        /* max-width: 250px; small screen?*/
    }
    .name-container {
        justify-self: flex-end;
        position: relative;
    }
    .sun {
        position: absolute;
        height: 175%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: #FFBB00;
        transform: translate(-50%, -22%);
    }
    .name{
        position: relative;
        z-index: 1;
    }
</style>
