---
import "@styles/plein.css";
---

<section class="hero" id="hero">
  <h1 class="text">Hello, I’m <span class="highlight">Nora</span>!</h1>
  <p>
    A fullstack developer with a background in <span class="highlight"
      >environmental science</span
    > and
    <span class="highlight"> social geography.</span>
  </p>
</section>

<style>
  h1,
  p {
    text-shadow: var(--shadow-text);
    color: var(--white);
    text-align: center;
  }

  h1 {
    font-weight: 900;
    font-size: 3rem;
  }

  .highlight {
    color: var(--pink);
  }

  p {
    font-family: "Plein", Arial, Helvetica, sans-serif;
    font-weight: 600;
    max-width: 500px;
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0.5rem;
    margin-bottom: 4rem;
    min-height: 60dvh;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 6rem;
    }
    p {
      margin-top: 1rem;
      font-size: 2rem;
      max-width: 800px;
    }
  }
</style>
