<section class="hero" id="hero">
    <div class="text-container">
        <!-- add a scetch of a globe or something alluding to hey world? -->
        <h1>Hello! I’m Nora</h1>
        <p>
            A junior full-stack JavaScript developer looking for new
            opportunities.
        </p>
        <!-- <p class="projects-intro accent-font">
            Take a look at some of my projects!
            </p>
            <svg
            class="arrow-down"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="70"
            fill="currentColor"
            viewBox="0 0 50 80"
            >
            <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M 24.5,5 
            L 25.5,5 
            C 30.5,30 31,45.5 26,71.5 
            L 40,50 
            Q 27,76.5 24,74.5 
            Q 21,72.5 14,50 
            L 24,71 
            C 28,45 29,30 24.5,5 Z"
            ></path>
            </svg> -->
    </div>
</section>
<style>
    .accent-font {
        font-family: "Libre Baskerville", Georgia, serif;
        font-weight: 400;
    }
    .bold {
        font-weight: 900;
    }
    .color {
        color: #ff6600;
        color: #a4d21d;
    }

    h1 {
        font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
        font-weight: 700;
        /* font-size: clamp(2rem, 6vw, 4rem); */
        font-size: 10vw;
        line-height: 1.2;
    }
    p {
        font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: clamp(1.25rem, 3.7vw, 2.25rem);
        font-size: 4.5vw;
        line-height: 1.5;
        color: #757575;
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 100px;
        height: calc(100dvh - 60px);
    }
    .projects-intro {
        margin-top: 3rem;
        font-size: clamp(1.25rem, 3.7vw, 2.25rem);
        font-size: 4vw;
        font-weight: 700;
        color: #333333;
    }

    .arrow-down {
        margin-top: 1rem;
    }
    .text-container {
        /* animation: moveLeft 3s ease-in-out infinite; */
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 5rem;
        }
        p {
            font-size: 2.25rem;
            max-width: 700px;
        }
    }

    @keyframes moveLeft {
        0% {
            transform: scale(1) ;
        }
        50% {
            transform: scale(0.8) ;
        }
        100% {
            transform: scale(0.8);
        }
        
    }
</style>
