---
import ProjectCard from "../ProjectCard.astro";
---

<section class="projects" id="projects">
    <div class="grid scroll-reveal">
        <ProjectCard
            title="Mums Filibabba"
            description="My fist ever full-stack project, now turned into a hobby project with the goal to create a place for close friends and family to share and find recipes. "
            techStack={["mongoose", "express", "React", "Node.js", "CSS"]}
            cardColor="#B6D494"
            githubUrl="https://github.com/Snoira/recept_webpage"
        />
        <ProjectCard
            title="YAY BNB"
            description="An Airbnb-inspired project built with Next.js and TypeScript, featuring user authentication, property listings, and booking functionality."
            techStack={[
                "Next.js",
                "TypeScript",
                "Prisma",
                "TailwindCSS",
                "Shadcn UI",
            ]}
            githubUrl="https://github.com/Snoira/Airbnb-project"
            cardColor="#CEDAED"
        />
        <ProjectCard
            title="Portfolio Website"
            description="If you're seeing this, you're already here! This portfolio website is built with Astro and showcases my projects and skills as a full-stack developer. I've also incorporated some animations using GSAP to enhance the user experience."
            techStack={["Astro", "CSS", "TypeScript", "Netlify"]}
            cardColor="#FC7753"
            githubUrl="https://github.com/Snoira/webdev-portfolio"
        />
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    function cardTimeLine(selector: string) {
        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: selector,
                start: "top 80%",
                end: "bottom 20%",
                toggleActions: "play none none reverse",
            },
        });
        tl.from(selector, {
            y: 50,
            rotation: -10,
            autoAlpha: 0,
            stagger: 0.2,
        });

        return tl;
    }

    document.fonts.ready.then(() => {
        cardTimeLine(".grid > article:nth-child(1)");
        cardTimeLine(".grid > article:nth-child(2)");
        cardTimeLine(".grid > article:nth-child(3)");
    });
</script>

<style>
    .projects {
        padding: none;
    }

    .grid {
        padding: none;
        display: grid;
        justify-items: center;
        gap: 2rem;
        overflow: hidden;
    }
</style>
