---
import ProjectCard from "../ProjectCard.astro";
---

<section class="projects" id="projects">
    <h2>A few of my <i>favorite</i> projects</h2>
    <div class="grid">
        <ProjectCard
            title="Mums Filibabba"
            description="An ongoing recipe website project to collect and share recipes of friends and family."
            techStack={["mongoose", "express", "React", "Node.js", "CSS"]}
            cardColor="#B6D494"
            githubUrl="https://github.com/Snoira/recept_webpage"
        />
        <ProjectCard
            title="YAY BNB"
            description="A modern Airbnb-inspired booking platform with responsive design and TypeScript for enhanced type safety."
            techStack={["Next.js", "TypeScript", "Prisma", "TailwindCSS", "Shadcn UI"]}
            githubUrl="https://github.com/Snoira/Airbnb-project"
            cardColor="#CEDAED"
        />
        <ProjectCard
            title="Portfolio Website"
            description="A personal portfolio built with Astro for showcasing my work."
            techStack={["Astro", "CSS", "TypeScript", "Netlify"]}
            cardColor="#FC7753"
            githubUrl="https://github.com/Snoira/webdev-portfolio"
        />
    </div>
</section>

<style>
    .projects {
        padding: 50px 0;
        h2 {
            text-align: center;
        }
    }

    .grid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        justify-content: center;
    }

    @media screen and (min-width: 700px) {
        .projects {
            padding: 100px 5%;
        }
        
    }
</style>
