---
import ProjectCard from "../ProjectCard.astro";
---

<section class="projects" id="projects">
    <h2>Projects</h2>
    <div class="grid">
        <ProjectCard
            title="Mums Filibabba"
            description="An ongoing recipe website project to collect and share recipes of friends and family."
            techStack="MERN stack, JavaScript, CSS. Formik + yup for form handling and validation. Axios and React Query for API requests and state management. Bcrypt and Jsonwebtoken for authentication."
            cardColor="#DFF2A7"
            githubUrl="https://github.com/Snoira/recept_webpage"
        />
        <ProjectCard
            title="YAY BNB"
            description="A modern Airbnb-inspired booking platform with responsive design and TypeScript for enhanced type safety."
            techStack="Next.js, TypeScript, TailwindCSS + Shadcn UI. Utilizes Prisma for database management. Zod for type validation."
            githubUrl="https://github.com/Snoira/Airbnb-project"
        />
        <ProjectCard
            title="Portfolio Website"
            description="A personal portfolio built with Astro for showcasing my work."
            techStack="Astro, CSS, TypeScript, Netlify."
            cardColor="#EA8C55"
            githubUrl="https://github.com/Snoira/webdev-portfolio"
        />
    </div>
</section>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: 2rem;
        justify-content: center;
    }
</style>
