---
import IconLink from "./ui/IconLink.astro";
---

<header>
    <h1 class="logo">
        <a href="#hero">Nora Velde</a>
    </h1>
    <nav>
        <button class="nav-toggle">
            <div class="bars">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <ul class="nav-menu">
            <div class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </div>
            <div class="social-links">
                <li>
                    <IconLink icon="github" url="https://github.com/snoira" />
                </li>
                <li>
                    <IconLink
                        icon="linkedin"
                        url="https://www.linkedin.com/in/nora-velde-440661297/"
                    />
                </li>
            </div>
        </ul>
    </nav>
</header>

<script>
    const navToggle = document.querySelector(".nav-toggle");
    const navMenu = document.querySelector(".nav-menu");

    if (navToggle === null || navMenu === null) {
        throw new Error("Navigation elements not found");
    }

    navToggle.addEventListener("click", () => {
        navMenu.classList.toggle("show");
    });

    const navLinks = document.querySelectorAll(".nav-menu a");
    navLinks.forEach((link) => {
        link.addEventListener("click", () => {
            navMenu.classList.remove("show");
        });
    });
</script>

<style>
    a {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: inherit;
        position: sticky;
        top: 0;
        z-index: 10;
        height: 60px;
        padding: 0 10%;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    nav ul {
        list-style: none;
        display: flex;
        align-items: center;

        & .nav-links {
            display: flex;
            gap: 1rem;
            & a {
                text-decoration: none;
                font-weight: 400;
                color: var(--text);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .social-links {
        display: none;
    }

    .nav-toggle {
        display: none;
        place-items: center;
        background: none;
        border: none;
        cursor: pointer;
        height: 40px;
        width: 40px;

        & div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            & span {
                display: block;
                width: 25px;
                height: 3px;
                border-radius: 2px;
                background-color: var(--text);
            }
        }
    }

    @media (max-width: 768px) {
        nav .nav-toggle {
            display: flex;
        }
        nav ul {
            display: none;
            position: absolute;
            right: 0;
            top: 55px;
            justify-items: start;
            align-items: end;
            width: 100%;
            height: calc(100dvh - 55px);
            background-color: var(--background);
            gap: 0;
            /* border: 1px solid #ddd; */
            padding-left: 2rem;
            & .nav-links {
                flex-direction: column;
                /* width: 100%; */
                & a {
                    font-size: clamp(2rem, 7vmin, 3rem);
                    width: 100%;
                    /* border: 1px solid green; */
                }
            }
           
        }

        .social-links {
            display: flex;
                padding-bottom: 2rem;
                gap: 1.5rem;
            }

        nav .nav-menu.show {
            display: grid;
        }

        header {
            padding: 0 20px;
        }
    }
</style>
