---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/plein.css";
import "@styles/switzer.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>Nora Velde - Full-Stack Developer</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	html,
	body {
		width: 100%;
		min-height: 100%;
		--text: #2b323f;
		--background: #fdf7ec;
		--primary: #fc7753;
		background: var(--background);
		color: var(--text);
		font-family: "Switzer", Arial, Helvetica, sans-serif;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	h1,
	h2 {
		font-family: "Plein", Arial, Helvetica, sans-serif;
	}

	h2 {
		text-align: center;
		font-size: clamp(2rem, 6cqw, 3rem);
	}

	p {
		font-size: clamp(1rem, 2vw, 1.5rem);
		font-size: 1rem;
		line-height: 1.5;
	}
	a {
		border-radius: 4px;
		transition: all 0.2s ease;
		&:focus {
			outline: 2px solid var(--primary);
			outline-offset: 2px;
		}
		&:focus:not(:focus-visible) {
			outline: none;
		}
		&:focus-visible {
			outline: 2px solid var(--primary);
			outline-offset: 2px;
		}
	}

	body.no-scroll {
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
</style>
