---
import githubCircle from "../../assets/icons/github-circle.svg";
import linkedin from "../../assets/icons/linkedin.svg";
import { Image } from "astro:assets";

interface Props {
    icon: "github" | "linkedin";
    url: string;
}

const { icon, url } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer">
    {
        icon === "github" ? (
            <Image src={githubCircle} alt="GitHub Icon" />
        ) : (
            <Image src={linkedin} alt="LinkedIn Icon" />
        )
    }
</a>
<style>
    a {
        display: inline-block;
        width: 32px;
        aspect-ratio: 1 / 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>
