---
import GithubCircle from "@assets/icons/github-circle.svg";
import Linkedin from "@assets/icons/linkedin.svg";

interface Props {
    platform: "github" | "linkedin";
    url?: string;
    size?: "small" | "medium";
}

const { platform, url, size } = Astro.props as Props;

const defaultUrls = {
    github: "https://www.github.com/snoira",
    linkedin: "https://se.linkedin.com/in/nora-velde-440661297",
};

const defaultAriaLabels = {
    github: "Visit GitHub Profile",
    linkedin: "Visit LinkedIn Profile",
};

const getAriaLabel = () => {
    if (url) {
        const repo = url.split("Snoira/").pop() || "";
        return platform === "github" ? `Visit GitHub repository ${repo}` : "Visit LinkedIn profile";
    }
    return defaultAriaLabels[platform];
};
---
<a
    href={url ? url : defaultUrls[platform]}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={getAriaLabel()}
    class={size ?? "medium"}
>
    {platform === "github" ? 
        <GithubCircle aria-hidden="true" /> : 
        <Linkedin aria-hidden="true" />
    }
</a>
<style>
    a {
        display: inline-block;
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
        &:hover {
            transform: translateY(-2px);
        }
    }

    svg {
        width: 100%;
        height: auto;
        path {
            stroke: var(--text); 
        }
    }

    a.small {
        width: 26px;
        flex-shrink: 0;
    }

    a.medium {
        width: 34px;
        transition: all 0.3s ease;
        &:hover, &:focus {
            transform: scale(1.2);
            path {
                stroke: var(--primary);
            }
        }
    }
</style>
