---
import GithubCircle from "@assets/icons/github-circle.svg";
import Linkedin from "@assets/icons/linkedin.svg";

interface Props {
    icon: "github" | "linkedin";
    url: string;
    size?: "small" | "medium";
}

const { icon, url, size } = Astro.props;
---

<a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    class={size ?? "medium"}
>
    {icon === "github" ? <GithubCircle /> : <Linkedin />}
</a>
<style>
    a {
        display: inline-block;
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
        transition: all 0.3s ease;
        &:hover {
            transform: translateY(-2px);
        }
    }

    svg {
        width: 110%;
        height: 110%;
        path {
            stroke: var(--text); 
        }
    }

    a.small {
        width: 24px;
    }

    a.medium {
        width: 32px;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.2);
            path {
                stroke: var(--primary);
            }
        }
    }
</style>
