---
import githubCircle from "../../assets/icons/github-circle.svg";
import linkedin from "../../assets/icons/linkedin.svg";
import { Image } from "astro:assets";

interface Props {
    icon: "github" | "linkedin";
    url: string;
    size?: "small" | "medium";
}

const { icon, url, size} = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer" class={size ?? "medium"}>
    {
        icon === "github" ? (
            <Image src={githubCircle} alt="GitHub Icon" />
        ) : (
            <Image src={linkedin} alt="LinkedIn Icon" />
        )
    }
</a>
<style >
    a {
        display: inline-block;
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    a.small {
        width: 24px;
    }

    a.medium {
        width: 32px;
    }

</style>
